.eventdisplay {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 1px solid #f3e9e9;
    border-radius: 5px;
}

.eventdisplay-left {
    display: flex;
    margin: 20px;
}

.image {
   height: 500px;
   border: 1px solid #f3e9e9;
   border-radius: 5px;
}

.eventdisplay-right {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.event_title {
    font-size: 20px;
    color: #5d2e15;
}

.event_details {
    margin: 20px;
    display: flex;
    margin-top: 25px;
    color: #373636;
    font-size: 20px;
    font-weight: 600;
    align-content: center;
}

.eventlocation {
    margin: 20px;
}

.eventstart {
    margin: 20px;
}

.eventend {
    margin: 20px;
}

.eventprice {
    margin: 20px 70px;
    size: 20px;
}
.event-description {
    text-align: center;
    margin: 20px;
    color: #373636;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #f3e9e9;
    border-radius: 5px;
}

.eventdisplay-right button {
    padding: 20px 40px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: #e56622;
    margin-bottom: 40px;
    border: 1px solid #090000;
    outline: none;
    cursor: pointer;
    align-self: center;
}

@media(max-width:1280px) {
    .eventdisplay {
        margin:0px 60px;
    }
    .image {
        width: auto;
        height: 510px
    }
    .eventdisplay-right {
        margin: 0px 30px;
    }
    .eventdisplay-right h1 {
        font-size: 22px;
    }

    .event-description {
        font-size: 13px;
    }
    .eventdisplay-right button {
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
}

@media(max-width:1024px) {
    .eventdisplay {
        margin:0px 30px;
    }
    .image {
        height: 300px
    }
    .eventdisplay-right h1 {
        font-size: 18px;
    }
    .event-description {
        font-size: 12px;
    }
    .eventdisplay-right button {
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
}

@media(max-width:800px) {
    .eventdisplay {
        margin:0px 10px;
    }
    .image {
        height: 300px;
    }
    .eventdisplay-right h1 {
        font-size: 14px;
    }
    .event-description {
        font-size: 10px;
    }
    .eventdisplay-right button {
        width: 100px;
        font-size: 12px;
    }
}

@media(max-width:500px) {
    .eventdisplay {
       flex-direction: column;
    }
    .image {
        height: 330px;
    }
    .eventdisplay-right {
        margin: 5px;
    }
    .eventdisplay-right h1 {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .event-description {
        font-size: 10px;
    }
    .eventdisplay-right button {
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }
}