.footer {
    border: 1px solid;
    border-color: grey;
    align-items: center;
    text-align: center;
    background-color: #e5af38;
    margin-bottom: auto;
}

.footer h1 {
    font-size: 20px;
    color: #90630b;
}

.footer hr {
    color: grey;
}